<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1><%= @quote.saying %></h1>
    <h2>- <%= @quote.author %></h2>
    <h3><%= @quote.book %></h3>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3><%= link_to 'Add a Quote', new_quote_path %></h3>
  </div>

  <div class="col-12 col-sm">
    <h3>All Quotes</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Recommended Books</h3>
  </div>

 </div>